---
import '../assets/css/about-us.css';

import {
  ABOUT_ZINC_SEARCH,
  COLOR_LINKEDIN_ICON,
  WHY_ZINC_1, 
  WHY_ZINC_2,
  WHY_ZINC_3,
  WHY_ZINC_4
} from '../assets/images';
import { TEAM_LIST, INVESTOR_LIST } from '../utils/constant.js';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
---

<DefaultLayout>
  <main id="about-us">
    <!-- Header -->
    <HeaderTitle title={'About Us'} />

    <!-- About us -->
    <div class="about-us-section mt-100 mb-100">
      <div class="container">
        <div class="row w-100 align-item-center justify-content-between">
          <div class="text-contain col-6">
            <h1>ZincSearch</h1>
            <p>At ZincSearch, we bring <b>Cloud, Kubernetes, DevOps,</b> and <b>Engineering expertise</b> to
              provide a solution to the problem of observability at a low cost. ZincSearch is the simplest
              and easiest search system to get up and running. <b>Founded in 2022, ZincSearch came up with an
              open-source, easy-to-use search engine that best solves your observability needs.</b></p>
          </div>
          <div class="col-6">
            <img src={ABOUT_ZINC_SEARCH} alt="ZincSearch" title="ZincSearch"
              class="fluid-img">
          </div>
        </div>
      </div>
    </div>

    <!-- Why use zinc -->
    <div class="why-use-zinc pt-100">
      <div class="container flex-direction-column">
        <h2 class="align-item-center">Why use ZincSearch?</h2>
        <div class="row flex-direction-row justify-content-between">
          <div class="col-6 box">
            <figure>
              <img style="max-height:35px" src={WHY_ZINC_1}
                alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
              <figcaption>Lower Resource Requirements (CPU, Memory)</figcaption>
            </figure>
            <ul class="points">
              <li>Lower cost of infrastructure</li>
              <li>Every developer can run it on their laptop without consuming too many resources</li>
            </ul>
          </div>
          <div class="col-6 box">
            <figure>
              <img style="max-height:35px" src={WHY_ZINC_2}
                alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
              <figcaption>Easy To Operate</figcaption>
            </figure>
            <ul class="points">
              <li>Lower cost of manpower</li>
              <li>Faster time to market</li>
            </ul>
          </div>
        </div>
        <div class="row flex-direction-row justify-content-between">
          <div class="col-6 box">
            <figure>
              <img style="max-height:35px" src={WHY_ZINC_3}
                alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
              <figcaption>Stateless Server</figcaption>
            </figure>
            <ul class="points">
              <li>ZincSearch strives to provide stateless servers that can be scaled horizontally</li>
              <li>Storing data on S3 and MinIO allows you to bring servers up and down based on load</li>
            </ul>
          </div>
          <div class="col-6 box">
            <figure>
              <img style="max-height:35px" src={WHY_ZINC_4}
                alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
              <figcaption>Edge Search</figcaption>
            </figure>
            <ul class="points">
              <li>Generally, to search logs/data generated at the edge, you need to send them to a centralized
                logging system due to the high resource requirements of the search server</li>
              <li>ZincSearch allows you to search at the edge with its small footprint</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Backers Section -->
    <div class="team-wrapper">
      <h2 class="align-item-center">We are backed by incredible investors</h2>
      <div class="container" id="teamContainer">
        {INVESTOR_LIST.map(({ image, name, url }) => (
            <div class="card card--team">
              <div class="card__icon">
                <a rel="noreferrer noopener" href={url} target="_blank">
                  <img src={image} alt={name} title={name} class="user-image" />
                </a>
              </div>
              <div class="card__head">
                <h1 class="name">{name}</h1>
              </div>
            </div>
          )
        )}
      </div>
    </div>


  </main>
</DefaultLayout>