---
import {
 BANNER_IMG_1,
 BANNER_IMG_1_2X,
 BANNER_IMG_2,
 BANNER_IMG_2_2X,
 DEMO_SNAPSHOT_IMG,
 CLOSE_ICON,
 CODE_SNAPSHOT_IMG
} from '../assets/images';
import { CODE_SECTION_LIST, FAQ_LIST, FEATURES_LIST } from '../utils/constant.js';

import DefaultLayout from '../layouts/DefaultLayout.astro';
import ButtonLink from '../components/ButtonLink.astro';
import Subscription from '../components/Subscription.astro';
---

<DefaultLayout client:load>
  <main id="home">
    <section class="home-banner">
      <div class="carousel-container">
        <div class="carousel carousel--translate" data-autoplay="true" data-interval="5000" data-current-slide="-1">
          <input class="carousel__activator" type="radio" name="carousel" id="A" value="0" checked />
          <input class="carousel__activator" type="radio" name="carousel" id="B" value="1" />
          <input class="carousel__activator" type="radio" name="carousel" id="C" value="2" />
          <ul class="carousel__track">
            <li class="carousel__slide">
              <div class="container">
                <div class="container__left">
                  <h1 class="head">Tired Of High Cost And Complexity Of Your Log Systems.</h1>
                  <ButtonLink />
                </div>
                <div class="container__right">
                  <picture class="pic-one">
                    <source media="(max-width:1199px)" srcset={BANNER_IMG_1} />
                    <source media="(min-width:1200px)" srcset={BANNER_IMG_1_2X} />
                    <img src={BANNER_IMG_1} alt="Home Banner 1" />
                  </picture>
                </div>
              </div>
            </li>
            <li class="carousel__slide">
              <div class="container">
                <div class="container__left">
                  <h1 class="head">1 TB ingest / month free</h1>
                  <ButtonLink />
                </div>
                <div class="container__right">
                  <picture class="pic-one">
                    <source media="(max-width:1199px)" srcset={BANNER_IMG_1} />
                    <source media="(min-width:1200px)" srcset={BANNER_IMG_1_2X} />
                    <img src={BANNER_IMG_1} alt="Home Banner 1" />
                  </picture>
                </div>
              </div>
            </li>
            <li class="carousel__slide">
              <div class="container">
                <div class="container__left">
                  <h1 class="head">
                    Default 30 day log retention
                  </h1>
                  <ButtonLink />
                </div>
                <div class="container__right">
                  <picture class="pic-two">
                    <source media="(max-width:1199px)" srcset={BANNER_IMG_2} />
                    <source media="(min-width:1200px)" srcset={BANNER_IMG_2_2X} />
                    <img src={BANNER_IMG_2} alt="Home Banner 2" />
                  </picture>
                </div>
              </div>
            </li>
          </ul>
          <div class="carousel__indicators">
            <div class="container">
              <label class="carousel__indicator" for="A"></label>
              <label class="carousel__indicator" for="B"></label>
              <label class="carousel__indicator" for="C"></label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="head">
          <h2>ZincSearch Features</h2>
          <p>It provides a host of features that help you get up and running in minutes.</p>
        </div>

        <div class="content">
          {FEATURES_LIST.map((list) => (
            <div class="card card--feature">
              <div class="card__icon">
                <img src={list.image} alt={list.altText}/>
              </div>
              <div class="card__head">{list.title}</div>
              <div class="card__content">
                <p>{list.description}</p>
              </div>
            </div>
          ))}
        </div>
      </div>  
    </section>

    <section class="demo" id="demo">
      <div class="container">
        <div class="content">
          <div class="content__left">
            <img src={DEMO_SNAPSHOT_IMG} alt="ZincSearch Demo" />
          </div>
          <div class="content__right">
            <h2>ZincSearch Demo</h2>
            <button type="button" class="btn btn--tall btn--secondary" id="show-video-modal">Demo</button>
          </div>
        </div>
      </div>
      <div class="modal" id="video-modal" data-close-ouotside="true">
        <div class="modal__container">
          <button class="modal__close" id="close-modal">
            <img src={CLOSE_ICON} alt="Close Icon" />
          </button>
          <div class="modal__content">
            <iframe id="iFrame" width="100%" height="470"
              src="https://www.youtube.com/embed/aZXtuVjt1ow?enablejsapi=1"></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="codeSection">
      <div class="container">
        <div class="content__left">
          <div class="head">
            <h2>ZincSearch is Built for Full-Text Search</h2>
            <p>
              ZincSearch is a search engine that can be used for text data, logs, metrics,
              events, and more. It allows you to do a full-text search, among other things,
              including sending server logs to ZincSearch, pushing your application data,
              providing a full-text search, or building a search bar in your application.
            </p>
          </div>
          <div class="content">
            {CODE_SECTION_LIST.map((list) => (
              <div class="card card--codeSection">
                <div class="card__icon">
                  <img src={list.image} alt={list.altText} />
                </div>
                <div class="card__head">{list.title}</div>
                <div class="card__content">
                  <p>{list.description}</p>
                </div>
              </div>
            ))}
          </div>
        </div>
        <div class="content__right">
          <img src={CODE_SNAPSHOT_IMG} alt="Code image" />
        </div>
      </div>
    </section>

    <section class="faqs" id="faqs">
      <div class="container">
        <div class="head">
          <h2>Frequently Asked Questions</h2>
          <p>
            Everything you need to know so you can use ZincSearch as a FastSearch.
          </p>
        </div>

        <div class="content faqs__container" id="collapsible_parent_container">
          {FAQ_LIST.map((list, i) => (
            <div class={`faq ${list.class} collapsible ${i !== 0 ? 'collapsible--collapsed' : ''}`}>
              <h3 class="faq__head">
                <div class="faq__head__label">{list.title}</div>
                <button aria-label="Collapsible Button" class="faq__head__action collapsible__head__action" />
              </h3>
              <div class="faq__body">
                <p>{list.description}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </section>

    <Subscription />
  </main>
</DefaultLayout>

<script is:inline src='/assets/js/carousel.js' />
